h1{
    color: black;
}

button{
    background-color: blue;
    color: white;
}

#email{
    background-color:whitesmoke;
    color: black;
}

#password{
    background-color:whitesmoke;
    color: black;
}